@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  background-color: #181818;
 
}

p {
  color: hsl(28, 10%, 53%);
}

h1, h2, h3 {
  color: hsl(25, 47%, 15%);
}

.soft-red{
  background-color: #5F9DF7;
  
}

canvas:hover{
  cursor: pointer;
}